<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SpellCheckerIndexes" value="sitecore_master_index|sitecore_web_index" />
      <setting name="SpellCheckerPrefix" value="spellchecker_" />
      <setting name="SpellCheckerSourceField" value="_shingles" />
      <setting name="RelatedContentField" value="relatedcontent" />
      <setting name="MediaContentField" value="mediacontent" />
      <setting name="UrlLinkField" value="urlhighlight" />
    </settings>
    <events>
      <event name="indexing:end">
        <handler type="Accelerator.Infrastructure.Web.Search.Indexing.IndexingEventHandler, Accelerator.Infrastructure.Web"
                 method="UpdateSpellCheckerDictionary" />
      </event>
      <event name="indexing:end:remote">
        <handler type="Accelerator.Infrastructure.Web.Search.Indexing.IndexingEventHandler, Accelerator.Infrastructure.Web"
                 method="UpdateSpellCheckerDictionary" />
      </event>
    </events>
    <pipelines>
      <!-- Activate component based indexing -->
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor">
        <!-- When indexing an item, make sure its clones get re-indexed as well -->
        <processor type="Sitecore.ContentSearch.Pipelines.GetDependencies.GetCloningDependencies, Sitecore.ContentSearch"/>
        <!-- When indexing an item, make sure its datasources that are used in the presentation details gets re-indexed as well -->
        <!--<processor type="Sitecore.ContentSearch.Pipelines.GetDependencies.GetDatasourceDependencies, Sitecore.ContentSearch"/>-->
        <processor type="Accelerator.Infrastructure.Web.Search.Indexing.GetDatasourceDependencies, Accelerator.Infrastructure.Web"/>
      </indexing.getDependencies>
    </pipelines>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- Field used for auto complete -->
              <field fieldName="title" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Accelerator.Infrastructure.Web.Search.Analyzers.EdgeNGramAnalyzer, Accelerator.Infrastructure.Web">
                  <param hint="version">Lucene_30</param>
                  <param hint="mingram">2</param>
                  <param hint="maxgram">15</param>
                </analyzer>
              </field>
              <field fieldName="summary" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <!-- Store related content with the index so in search results highlighted chunks are more relevant to actual content -->
              <field fieldName="relatedcontent" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Accelerator.Infrastructure.Web.Search.Analyzers.SnowballAnalyzer, Accelerator.Infrastructure.Web">
                  <param hint="version">Lucene_30</param>
                </analyzer>
              </field>
              <!-- Do not store media with the index as is this will increase index size dramatically -->
              <field fieldName="mediacontent" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Accelerator.Infrastructure.Web.Search.Analyzers.SnowballAnalyzer, Accelerator.Infrastructure.Web">
                  <param hint="version">Lucene_30</param>
                </analyzer>
              </field>
              <field fieldName="_shingles" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Accelerator.Infrastructure.Web.Search.Analyzers.ShingleAnalyzer, Accelerator.Infrastructure.Web">
                  <param hint="version">Lucene_30</param>
                </analyzer>
              </field>
              <!-- If we are not dealing with stop words at spellchecker level need to remove from index-->
              <!--<field fieldName="_content" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Accelerator.Infrastructure.Web.Search.Analyzers.LowerCaseAnalyzer, Accelerator.Infrastructure.Web">
                  <param hint="version">Lucene_30</param>
                </analyzer>
              </field>-->
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="relatedcontent">Accelerator.Infrastructure.Web.Search.ComputedFields.VisualizationField, Accelerator.Infrastructure.Web</field>
            <field fieldName="mediacontent" type="Sitecore.ContentSearch.ComputedFields.MediaItemContentExtractor,Sitecore.ContentSearch">
              <mediaIndexing ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/mediaIndexing"/>
            </field>
            <!--<field fieldName="_content">Accelerator.Infrastructure.Web.Search.ComputedFields.VisualizationField, Accelerator.Infrastructure.Web</field>-->
            <field fieldName="_shingles">Accelerator.Infrastructure.Web.Search.ComputedFields.VisualizationField, Accelerator.Infrastructure.Web</field>
            <field fieldName="_haslayout">Accelerator.Infrastructure.Web.Search.ComputedFields.HasLayout, Accelerator.Infrastructure.Web</field>
          </fields>
          <!-- Extension to DocumentBuilderType where two computed fields of the same Type will be cached. 
               Allows us to apply different analyzers to the same types of fields with little overhead -->
          <documentBuilderType>
            Accelerator.Infrastructure.Web.Search.DocumentBuilder.LuceneCachedDocumentBuilder, Accelerator.Infrastructure.Web
          </documentBuilderType>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>